<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/main.css" rel="stylesheet">

</head>
<body>
  <div th:replace="~{nav.html::navbar}"></div>
  <form action="/edit" method="POST">
    <input name="id" th:value="${data.id}" style="display:none">
    <input name="title" th:value="${data.title}">
    <input name="price" th:value="${data.price}">
    <button type="submit">submit</button>
  </form>

</body>
</html>